body {
    margin: 0;
    min-width: 250px;
}

ul {
    margin: 0;
    padding: 0;
}
  
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #333333;
    font-size: 18px;
    transition: 0.2s;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
ul li:nth-child(odd) {
    background: #333333;
}
  
ul li:hover {
    background: #ddd;
    color: #333;
}
  
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
  
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
  
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
  
.close:hover {
    background-color: #f44336;
    color: white;
}
  
.header {
    padding: 30px 40px;
    color: white;
    text-align: center;
}
  
.header:after {
    content: "";
    display: table;
    clear: both;
}
  
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
  
.addBtn {
    padding: 10px;
    width: 25%;
    background: #444444;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    height: 38.75px;
}
  
.addBtn:hover {
    background-color: #bbb;
    color: #333;
}